.generatorBlock,
.readyDiv {
	display: grid;

	justify-items: center;
	gap: 10px;
}

.generatorBlock {
	width: 50%;

	margin-top: 100px;
}

.readyDiv {
	width: 100%;

	margin-top: 20px;
}

.readyDiv > h1 {
	width: 90%;
}

.mnemonicTitle {
	margin-top: 10px;

	font-weight: 600 !important;
}

@media (max-width: 1024px) {
	.generatorBlock {
		width: 70%;
	}
}

@media (max-width: 580px) {
	.generatorBlock {
		width: 100%;
	}
}
