.xxl,
.xl,
.l,
.m,
.s {
	width: fit-content;
	margin: 0;

	color: var(--darkLight);

	font-style: normal;
	line-height: normal;
}

.xxl {
	font-size: 84px;
	font-weight: 900;
	line-height: 84px;
}

.xl {
	font-size: 64px;
	font-weight: 900;
	line-height: 64px;
}

.l {
	font-size: 32px;
	font-weight: 600;
}

.m {
	font-size: 24px;
	font-weight: 500;
}

.s {
	font-size: 20px;
	font-weight: 400;
}

@media (max-width: 1024px) {
	.xxl {
		font-size: 64px;
		line-height: 64px;
	}

	.xl {
		font-size: 48px;
		line-height: 48px;
	}

	.l {
		font-size: 28px;
	}

	.m {
		font-size: 20px;
	}

	.s {
		font-size: 16px;
	}
}

@media (max-width: 580px) {
	.xxl {
		font-size: 56px;
		line-height: 56px;
	}

	.xl {
		font-size: 32px;
		line-height: 32px;
	}

	.l {
		font-size: 20px;
	}

	.m {
		font-size: 16px;
	}

	.s {
		font-size: 14px;
	}
}

@media (max-width: 300px) {
	.xxl {
		font-size: 32px;
		line-height: 32px;
	}

	.xl {
		font-size: 28px;
		line-height: 28px;
	}

	.l {
		font-size: 18px;
	}

	.m {
		font-size: 14px;
	}

	.s {
		font-size: 12px;
	}
}
