.header {
	display: grid;
	align-items: center;

	width: calc(100% - 80px);
	height: fit-content;
	padding: 20px 40px;

	border-bottom: 1px solid var(--light);

	background: var(--white);
	justify-items: left;
}

.headerText {
	color: var(--primary) !important;

	font-weight: 900 !important;
}

.headerText > span {
	color: var(--darkLight);
}

@media (max-width: 1024px) {
	.header {
		width: calc(100% - 60px);
		padding: 15px 30px;
	}
}

@media (max-width: 580px) {
	.header {
		width: calc(100% - 40px);
		padding: 10px 20px;
	}
}
