.requestBlock {
    width: 100%;
    display: grid;
    gap: 16px;
}

.requestText {
    color: var(--darkLight);
}

.requestText > span {
    color: var(--primary);
    font-weight: 800;
}

.verified {
    color: var(--confirm);
    font-weight: 800;
}

.notVerified {
    color: var(--error);
}

.buttonsDiv {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.confirmButton {
    background: var(--confirm) !important;
}

.rejectButton {
    background: var(--error) !important;
}

.confirmButton:active,
.confirmButton:hover,
.rejectButton:active,
.rejectButton:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    filter: brightness(0.8);
}
