.header {
	position: relative;

	width: calc(100% - 40px);
	height: fit-content;
	padding: 10px 20px;

	background: var(--primary);
}

.headerContent {
	display: grid;
	align-items: center;

	width: 100%;
	grid-template-columns: 1fr auto;
	gap: 20px;
}

.headerDiv {
	position: absolute;
	top: 72px;
	left: 0;

	display: grid;

	width: calc(100% - 40px);
	padding: 0 20px;
	grid-template-rows: repeat(4, auto) 1fr;
	gap: 20px;
}

.headerIcon {
	width: 20px;
	fill: var(--white);
}

.header > a {
	cursor: pointer;
}

.headerText {
	color: var(--white) !important;
}

.headerLink {
	transition-duration: 300ms;
}

.headerLink:hover,
.headerLink:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@media (min-width: 580px) {
	.header {
		display: none;
	}
}
